@model Sehir

@{
    ViewData["Title"] = "AddSehir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Şehir Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddSehir", "Sehir", FormMethod.Post))
{
    <div class="form-group">      
        @Html.Label("Sehir Adı")
        @Html.TextBoxFor(x => x.SehirAdi, new { @class = "form-control" })
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}


